@media screen and (max-width:576px) {

    .banner-container,
    .nav-container,
    .nav-menu {
        flex-direction: column;
    }

    .nav-menu {
        padding: 20px;
        margin-left: 120px;
    }

    .banner-img img {
        margin-right: 0px;
        height: 40vh;
        padding: 10PX;
    }

    .banner-text {
        width: 100%;

        height: 70vh;
        display: flex;
        padding: 30px 0px;
        flex-direction: row;
    }

    .nav-container {
        margin-left: 50px;

    }

    .gamer-container {
        flex-direction: column-reverse;
        height: 50vh;
        margin-top: 400px;
    }

    .banner-text {
        width: 100%;
        height: 70vh;
        padding: 0px 0px;
        flex-direction: row;
    }

    .gamer-description h2 {
        color: #534C64;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
    }

    .gamer-img {
        image-resolution: 4px;
    }

    .gamer-img img {
        width: 100%;
    }

    .gamer-container {
        background: linear-gradient(90deg, rgba(218, 208, 213, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
    .gamer-description h1 {
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        line-height: normal;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .gamer-description p {
        color: #534C64;
        text-align: center;
        font-family: Work Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        padding-top: 20px;
        width: 80%;
    
    }
    .gamer-btn {
        padding: 10px 0px;
        display: flex;
        justify-content: center;
    
    
    }

    .game-selector-section {
        background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
        padding: 40px 0px;

    }
    .online-games {
        margin-top: 50px;
    }

    .footer {
        width: 100%;
        background: #0B0223;
        color: aliceblue;
        height: 100%;


    }

    .copyrights {
        text-align: center;

    }

    .img-container img {
        width: 20em;
        padding: 0px;
        height: 20%;
    }

    .relative-img img {
        width: 8em;
        padding: 10px;
        height: 20%;
    }

    .instant-play-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 100px 0px;
        flex-direction: column-reverse;

    }
    .hidden{
        display: none;
    }
    .text-container {
        width: 100%;

        margin: 40px 0px;
        text-align: center;
    
   }
   
   .instant-play-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0px;

}
.gamer-container {
    
    background: linear-gradient(90deg, rgba(218, 208, 213, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}




}