@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0px;
}

* {
    font-family: 'Lato';
    font-family: 'Work Sans';
}

/* nav styles */
.nav-container {
    display: flex;
    justify-content: space-between;
    margin: 40px 240px;
    min-height: 50px;
}

.nav-logo {
    display: flex;
    gap: 20px;
}

span {
    color: #F948B2;

}

.title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    line-height: normal;
}

.nav-logo img {
    height: 50px;
    width: 96px;

}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.nav-menu a {
    text-decoration: none;
}

.follow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    height: 15px;
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

}

.follow img {
    height: 20px;
    width: 25px;
}

/* banner section styles */
.parent {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 8px;
}

.btnss {
    display: flex;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    background: #fbfbfb;
    height: 70vh;


}

.banner-text {
    background: url("./images/Group\ 14.png");
    width: 50%;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 150px;

}



.banner-text h1 {
    color: #0B0223;
    text-align: left;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-text span {
    text-align: center;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.parent img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.banner-img img {
    margin-right: 220px;
    height: 70vh;
}

.btn {
    margin-top: 40px;
    align-items: flex-start;

}

.btn-sign-in {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;

}

.btn-go-Rogue {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 20px;
}

/* We are gamer section styles */
.gamer-container {
    
    background: linear-gradient(90deg, rgba(218, 208, 213, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.gamer-description h1 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-description p {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;

}

.gamer-description h4 {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;

}

.gamer-description h2 {
    color: #534C64;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

.gamer-btn {
    padding: 20px 0px;
    display: flex;
    justify-content: right;


}

/* online games section */
.online-games {
    width: 100%;
}

.description h1 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 15px;

}

.description p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.description {
    padding: 50px;
}
.cards {
    position: relative;
  }
  
  .extra2 {
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .extra {
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 85%;
    border-radius: 20px;
    visibility: hidden;
  }
  
  .cards:hover > .extra{
    position: absolute;
    top: 0;
    visibility: visible;
  }
  

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    cursor: grab;

}

.cards p {
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;


}

/* instant-play-container styles */
.instant-play-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px 0px;

}

.text-container h1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;

}

.text-container span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-container {
    width: 30%;
    text-align: right;
}

.text-container p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.relative-img {
    position: absolute;
    bottom: -4rem;
    left: -3rem;
}

.img-container {
    position: relative;
}

/* game selector section */
.game-selector-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 170px 0px;

}

.game-container {
    /* margin: 100px 0px; */
}


.games {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;

}

.game-divs {
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    border-radius: 30px;
    padding: 5px 10px;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;

}

.game-divs:hover {
    color: #222;
    border: 1px solid hotpink;


}


/* footer section styles */
footer {
    /* height: 55vh; */
    background: #0B0223;
    color: aliceblue;
    padding-bottom: 100px;
}

.footer-logo-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    color: #fbfbfb;
}

.footer-logo img {
    height: 30px;
    width: 60px;

}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 100px;
    flex-wrap: wrap;
}

.flex-div-one {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 55px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    flex-wrap: wrap;


}

.flex-div-one :hover {
    text-decoration: underline;
}

.flex-div-two {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 55px;
    cursor: pointer;
    flex-wrap: wrap;

}

.flex-div-three {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 55px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    flex-wrap: wrap;

}

.copyrights {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
    

}